body{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    width: 600px;
    height: 400px;
    border: 1px solid;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 30%;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item > label{
    padding: 6px 16px;
    background-color: #61a1d8;
    color: #fff;
    border: 2px solid #1e6db0;
}


.item > #name{
    margin-left: 12px;
    padding: 6px;
    border: 2px solid #1e6db0;
}

.sex-title > label{
    padding: 6px 16px;
    margin-right: 20px;
    background-color: #61a1d8;
    color: #fff;
    border: 2px solid #1e6db0;
}

.phankhoa > label{
    padding: 6px 13px;
    background-color: #61a1d8;
    color: #fff;
    border: 2px solid #1e6db0;
}

#khoa{
    padding: 8px;
    margin-left: 10px;
    border: 2px solid #1e6db0;
}

.submit{
    margin-top: 40px;
}

.submit > button{
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #5ecd5e;
    border: 2px solid #1e6db0;
    color: #fff;
}

.submit > button:hover{
    opacity: 0.7;
    cursor: pointer;
}